/* 
****** LIMPAR FORMATAÇÕES ****** 
*/
*{
    margin: 0;
    padding: 0;
}
    
/* 
****** HEADER ****** 
*/
#header{
    background-color: #0066CC;
    padding: 15px;
    text-align: center;
}
 #logo, #menu{
    padding: 10px;
}

 #header a:link, #header a:visited{
    color:white;
    padding: 8px 12px ;
}

 #header a:hover{
    color:#0066CC;
    background-color:white;
    text-decoration: none;

}
.white{
    color: white;
}
/* 
****** CONTENT ****** 
*/
#content{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}
#posts{
    width: 660px;
    float: left;
}
.post{
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
.data-post{
    font-size: 13px;
    border-bottom: 1px solid #0066CC;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}
    

