/* 
****** LIMPAR FORMATAÇÕES ****** 
*/
*{
    margin: 0;
    padding: 0;
}
    
/* 
****** HEADER ****** 
*/
#header{
    background-color: #0066CC;
    padding: 15px;
    text-align: center;

}
    

